<a href="https://colab.research.google.com/github/arpit0891/Stock-price-predection-using-LSTM-and-Sentiment-analysis/blob/arpit0891-patch-1/stocks_sentiment_without_limits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
stocks_dataf = pd.read_pickle('/content/drive/My Drive/Data_science/Twitter_Dataset.pkl')
stocks_dataf

                   close  ...                                           articles
2007-01-01  12469.971875  ...  . What Sticks from '06. Somalia Orders Islamis...
2007-01-02  12472.245703  ...  . Heart Health: Vitamin Does Not Prevent Death...
2007-01-03  12474.519531  ...  . Google Answer to Filling Jobs Is an Algorith...
2007-01-04  12480.690430  ...  . Helping Make the Shift From Combat to Commer...
2007-01-05  12398.009766  ...  . Rise in Ethanol Raises Concerns About Corn a...
...                  ...  ...                                                ...
2016-12-27  19945.039062  ...  . Should the U.S. Embassy Be Moved From Tel Av...
2016-12-28  19833.679688  ...  . When Finding the Right Lawyer Seems Daunting...
2016-12-29  19819.779297  ...  . Does Empathy Guide or Hinder Moral Action?. ...
2016-12-30  19762.599609  ...  . Shielding Seized Assets From Corruption’s Cl...
2016-12-31  19762.599609  ...  Terrorist Attack at Nightclub in Istanbul Kill...

[3653 rows x 3 columns]

In [ ]:
stocks_dataf.columns=['closing_price','adj_close_price','Tweets']

In [ ]:
stocks_dataf['adj_close_price'] = stocks_dataf['adj_close_price'].apply(np.int64)
stocks_dataf = stocks_dataf[['adj_close_price', 'Tweets']]
stocks_dataf['Tweets'] = stocks_dataf['Tweets'].map(lambda x: x.lstrip('.-'))
stocks_dataf

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

            adj_close_price                                             Tweets
2007-01-01            12469   What Sticks from '06. Somalia Orders Islamist...
2007-01-02            12472   Heart Health: Vitamin Does Not Prevent Death ...
2007-01-03            12474   Google Answer to Filling Jobs Is an Algorithm...
2007-01-04            12480   Helping Make the Shift From Combat to Commerc...
2007-01-05            12398   Rise in Ethanol Raises Concerns About Corn as...
...                     ...                                                ...
2016-12-27            19945   Should the U.S. Embassy Be Moved From Tel Avi...
2016-12-28            19833   When Finding the Right Lawyer Seems Daunting,...
2016-12-29            19819   Does Empathy Guide or Hinder Moral Action?. C...
2016-12-30            19762   Shielding Seized Assets From Corruption’s Clu...
2016-12-31            19762  Terrorist Attack at Nightclub in Istanbul Kill...

[3653 rows x 2 columns]

In [ ]:
dataframe = stocks_dataf[['adj_close_price']].copy()

In [ ]:
dataframe

            adj_close_price
2007-01-01            12469
2007-01-02            12472
2007-01-03            12474
2007-01-04            12480
2007-01-05            12398
...                     ...
2016-12-27            19945
2016-12-28            19833
2016-12-29            19819
2016-12-30            19762
2016-12-31            19762

[3653 rows x 1 columns]

In [ ]:
from datetime import datetime, timedelta